$tableText: #555;

table {
   th, td {
      text-align: center;
      vertical-align: middle;
      white-space: nowrap;
   }
}

.navigation {
   list-style-type: none;
   font-size: 0px;
   margin-bottom: 0px;
   float: right;
   display: flex;
   height: 100%;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.navigationdiv {
   background-color: #000;
   height: 53px;
}
.navigation li {
   display: inline-block;
}

.navigation li a {
   font-size: 1rem;
   padding: 1rem;
   color: #fff;
   text-decoration: none;
   border-top-left-radius: 0.33rem;
   border-top-right-radius: 0.33rem;
   transition: background-color 0.2ms ease-in-out;
}

.navigation li a:hover {
   background-color: #fff;
   color: #000;
}

.logodiv {
   background-color: black;
   height:53px;
   padding-top:6px;
   padding-left:50px;
}

.footerdiv {
   background-color:black;
   color:white;
   padding:8px;
   position:fixed;
   bottom:0px;
   width:100%;
   z-index:100;
}

.main {
   //min-height:84vh;
   height: 100vh;
}

#loginForm {
   padding: 3rem 5rem;
   background-color: rgba(0,0,0,0.4);
   border: 1px solid #555;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16),
               0 3px 6px rgba(0,0,0,0.23);
   border-radius: 5px;
   color: #fff;
   margin-top: 10rem;
}

#registerForm {
   padding:10px;
}

#welcomep {
   display:inline;
   line-height:53px;
   vertical-align: middle;
   font-size:18px;
}

#airplaneaddform,
#flightaddform,
#promoaddform {
   margin: 1.5rem 3rem;
//   width: 80%;
//   margin-left: 10%;
//   background-color: orange;
//   border-radius: 9px;
//   margin-top: 50px;
//   box-shadow: 2px 2px 3px 2px;
//   padding: 30px 15px 10px 15px;
}

.crveno {
   color: #932405;
   font-weight: bold;
   font-size: 120%;
   background-color: white;
   margin-top: 100px;
   border-top: 3px solid black;
   border-bottom: 3px solid black;
   padding-left: 10px;
   padding-right: 10px;
}

#adminpocetnatabela th{
   background-color: yellow;
}

#airplanestable th {
   // background-color: ;
}

a.delete{
   float: right;
}

#airplanesbody,
#flightsbody,
#reservationsbody,
#flightbody {
   // padding-left: 25px;
   margin: auto;
}

#flightstable {
   color: $tableText;
   font-size: 100%;
   background-color: #fff;
   margin-bottom: 0;
}

#airplanesbody {
   display: flex;
   flex-direction: column;
}

.page-container {
   margin: auto;
}

#reservationsbody {
   color: #932405;
   font-size: 100%;
   background-color: #fff;
   margin-bottom: 0;
}

#reservationsbody,
#flightbody {
   padding-right: 25px;
}

input:disabled#addAirplaneBtn {
   background-color: green;
   color: white;
}

body {
   overflow-x: hidden;
   // margin-bottom:36px;
}

input:disabled#addFlightBtn {
   background-color: lightgreen;
   color: black;
}

#flightdetails p {
   text-align: center;
   font-weight: bold;
}

#flightdetails {
   padding: 20px;
   margin-top: 20px;
   border: 2px solid grey;
   box-shadow: 0px 0px 4px 4px grey;
}

#flightdetails{
   background-color: white;
}

#prices{
   padding: 10px 20px 5px 20px;
   margin: 2rem auto;
   border: 1px solid #777;
   border-radius: 0.5rem;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
               rgba(0, 0, 0, 0.12) 0px -12px 30px,
               rgba(0, 0, 0, 0.12) 0px 4px 6px,
               rgba(0, 0, 0, 0.17) 0px 12px 13px,
               rgba(0, 0, 0, 0.09) 0px -3px 5px;
   opacity: 0.9;
   font-weight: bold;
}

#prices table td {
   font-weight: bold;
}

#prices h3 {
   margin-bottom:10px;
}

#prices table {
   margin-bottom: 0px;
}

.page-actions {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   margin-bottom: 0.5rem;
}

.filters {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   border: 1px solid #ccc;
   border-radius: 5px;
   padding: 0.2rem 0.33rem;
}

.filter {
   margin-left: 1rem;
   align-self: flex-end;
}

#filterformuser {
   margin-top:40px;
   padding:40px;
   box-shadow: 2px 2px 3px 3px green;
   border-radius:9px;
}

#datumPovratka:disabled {
   background-color: grey;
}

#boardingtimeback:disabled {
   background-color: grey;
}

#stats {
   margin-top: 100px;
   border-radius: 9px;
   background-image: url("images/texture1.jpg");
   text-align: center;
   padding: 15px;
   color: white;
   border: 2px solid black;
}

#registerBtn {
   color: white;
   font-weight: bold;
}

#registerBtn:hover {
   color: orange;
}

.login-page-container {
   margin: auto;
   height: 86vh;
   display: flex;
   justify-content: center;
   align-items: center;
   form {
      border: 1px solid #bbbbbb;
      padding: 1.75rem 3rem;
      border-radius: 0.5rem;
   }
}

.navigation li .active {
   background-color: #fff;
   color: black;
}